server:
  port: ${SERVER_PORT:8080}
  address: 0.0.0.0
  servlet:
    context-path: /
spring:
  application:
    name: adi-aam-backend
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://ep-round-butterfly-ahe9b8oh-pooler.c-3.us-east-1.aws.neon.tech:5432/neondb?sslmode=require}
    username: ${SPRING_DATASOURCE_USERNAME:neondb_owner}
    password: ${SPRING_DATASOURCE_PASSWORD:npg_2qanI9EbMxus}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc.batch_size: 20
        order_inserts: true
        order_updates: true
        cache.use_second_level_cache: false
        cache.use_query_cache: false
    open-in-view: false
  mvc:
    problemdetails:
      enabled: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,heapdump,threaddump"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  security:
    enabled: false
  metrics:
    export:
      simple:
        enabled: true
app:
  pagination:
    default-size: 20
    max-size: 100
  seed:
    enabled: false
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:*}
  migration:
    enabled: false
